
@{
    ViewBag.Title = "Bilety";
}



<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <center>
        <div><img src="~/Content/stadion.jpg" height="250" width="500"/></div>
    </center>
    <p>
        Przeciwnik: @ViewBag.Przeciwnik

        <table>
            <tr>
                <td>Sektor</td>
                <td>Cena</td>
                <td>Pozostało</td>
            </tr>
            @foreach (var c in ViewBag.Cena)
            {
            <tr>
                <td>@c.Sektor</td>
                <td>@c.Cena zł</td>
                <td>@c.Ile_Miejsc</td>
                @if (User.Identity.IsAuthenticated)
                { 
                    <td><a href="/Home/Success/@c.IdMiejsca"> <div class="btn btn-default"> KUP TERAZ </div></a></td>
                }
                else
                {
                    <td><a href="/Account/Login"> <div class="btn btn-default"> Zaloguj się, aby kupić </div></a></td>
                }
            </tr>
            }

        </table>




    </p>
    
    
    
    
    
    
    
    
    









</div>